{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Chamado
            <small>Lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Chamado</li>
            <li class="active">lista</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Filtro</div>
                    <div class="panel-body">
                        {{ form_start(filter_form, {"class" : "form-inline", "attr": {"novalidate": "novalidate"}}) }}

                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(filter_form.idChamado) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(filter_form.problema) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(filter_form.status) }}
                            </div>

                            <div class="col-md-2">
                                {{ form_row(filter_form.data) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(filter_form.prioridade) }}
                            </div>

                            <div class="col-md-3">
                                {{ form_row(filter_form.usuario) }}
                            </div>

                            <div class="col-md-3">
                                {{ form_row(filter_form.tecnico) }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <div class="pull-right">
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-remove"></i> Limpar
                                    </button>
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Pesquisar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        {{ form_end(filter_form, {'render_rest': false}) }}
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-offset-10 col-md-2">
                                <a href="{{ path('admin_chamado_new') }}" class="btn btn-primary"
                                   style="float: right;">
                                    <i class="fa fa-plus"></i> Novo Chamado
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id do Chamado</th>
                                <th>Problema</th>
                                <th>Prioridade</th>
                                <th>Unidade</th>
                                <th>Data de Abertura</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for chamado in chamados %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_chamado_show', { 'id': chamado.idChamado }) }}">{{ chamado.idChamado }}</a>
                                    </td>
                                    <td>{{ chamado.problema }}</td>
                                    <td>
                                        {% if chamado.prioridade == 1 %}
                                            Baixa
                                        {% elseif chamado.prioridade == 2 %}
                                            Média
                                        {% elseif chamado.prioridade == 3 %}
                                            Alta
                                        {% endif %}
                                    </td>
                                    <td>{{ chamado.usuario.unidade }}</td>
                                    <td>{% if chamado.data %}{{ chamado.data|date('d-m-Y H:i:s') }}{% endif %}</td>
                                    <td>
                                        {% if chamado.status is not null %}
                                            {{ chamado.status }}
                                        {% else %}
                                            Chamado em Aberto
                                        {% endif %}
                                    </td>
                                    <td>

                                        <div class="btn-toolbar" role="toolbar"><a
                                                    href="{{ path('admin_chamado_show', { 'id': chamado.idChamado }) }}"
                                                    class="btn btn-default btn-group" role="group">
                                                <i class="fa fa-eye"></i> <span class="hidden-xs">Visualizar</span>
                                            </a> <a href="{{ path('admin_chamado_edit', { 'id': chamado.idChamado }) }}"
                                                    class="btn btn-success btn-group" role="group">
                                                <i class="fa fa-pencil-square-o"></i> <span
                                                        class="hidden-xs">Editar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Nenhum registro encontrado!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(chamados) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('#chamado_filter_data').daterangepicker({
            "autoApply": true,
            "opens": 'right',
            "locale": {
                "format": "DD/MM/YYYY",
            },
            "singleDatePicker": true,
            "autoUpdateInput": false,
        }, function(chosen_date) {
            $('#chamado_filter_data').val(chosen_date.format('DD/MM/YYYY'));
        });
    </script>
{% endblock %}
