{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Chamado
            <small>visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Chamado</li>
            <li class="active">Visualizar</li>
        </ol>
    </section>

    <section class="content">

        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }}">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="title">Chamado #{{ chamado.idChamado }} </h4>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th>Problema</th>
                                <td>{{ chamado.problema }}</td>
                            </tr>
                            <tr>
                                <th>Descrição</th>
                                <td>{{ chamado.descricao|raw }}</td>
                            </tr>
                            <tr>
                                <th>Data de Abertura</th>
                                <td>{% if chamado.data %}{{ chamado.data|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {{ chamado.status }}
                                    {% if chamado.status.idStatus == 3 %}
                                        em {{ chamado.dataFinalizado|date('d/m/Y H:i:s') }}
                                    {% elseif chamado.status.idStatus == 4 %}
                                        em {{ chamado.dataCancelado|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Prioridade</th>
                                <td>
                                    {% if chamado.prioridade == 1 %}
                                        Baixa
                                    {% elseif chamado.prioridade == 2 %}
                                        Média
                                    {% elseif chamado.prioridade == 3 %}
                                        Alta
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Usuário</th>
                                <td>
                                    {{ chamado.usuario }}
                                </td>
                            </tr>
                            <tr>
                                <th>Técnico Responsável</th>
                                <td>
                                    {{ chamado.tecnico|default }}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h1>Anexos:</h1>
                        <ul>
                            {% for anexo in chamado.anexos %}
                                <li><a href="{{ asset('uploads/' ~ anexo.caminho) }}" target="_blank">{{ anexo.caminho }}</a></li>
                            {% else %}
                                <li>Nenhum anexo enviado.</li>
                            {% endfor %}
                        </ul>

                        {% include 'AppBundle:Comentario:comentario.html.twig' %}
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('admin_chamado_index') }}" class="btn btn-default btn-group" role="group">
                            <i class="fa fa-arrow-left"></i> <span class="hidden-xs">Voltar</span>
                        </a>
                        {% if is_granted('ROLE_ADMIN') and chamado.status.idStatus not in [3,4] %}
                            <a href="{{ path('admin_chamado_edit', { 'id': chamado.idChamado }) }}"
                               class="btn btn-success btn-group" role="group">
                                <i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">Editar</span>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_TECNICO') or is_granted('ROLE_ADMIN')  %}
                            {% if chamado.status.idStatus == 1 and chamado.tecnico is null %}
                                <a href="{{ path('admin_chamado_atender', { 'id': chamado.idChamado }) }}"
                                   class="btn btn-warning btn-group" role="group">
                                    <i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">Atender Chamado</span>
                                </a>
                            {% endif %}

                            {% if chamado.status.idStatus == 2 and chamado.tecnico == app.user %}
                                <a href="{{ path('admin_chamado_finish', { 'id': chamado.idChamado }) }}"
                                   class="btn btn-warning btn-group" role="group" title="Finalizar"
                                   data-confirm="Tem certeza de que deseja finalizar este chamado?">
                                    <i class="fa fa-check"></i> <span class="hidden-xs">Finalizar Chamado</span>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if chamado.status.idStatus not in [3,4] and (chamado.tecnico == app.user or is_granted('ROLE_ADMIN'))%}
                            <a href="{{ path('admin_chamado_cancel', { 'id': chamado.idChamado }) }}"
                               class="btn btn-danger btn-group" role="group" title="Cancelar"
                               data-confirm="Tem certeza de que deseja cancelar este chamado?">
                                <i class="fa fa-times"></i> <span class="hidden-xs">Cancelar Chamado</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
