{% if chamado.status.idStatus in [1,2] %}
<div id="post-add-comment" class="">
    {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
    <fieldset>
        <h1>Adicionar Comentários:</h1>
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">Comentar</button>
        </div>
    </fieldset>
    {{ form_end(form) }}
</div>
{% endif %}

<h3>
    {% if chamado.comentarios|length > 0 %}
        {{ chamado.comentarios|length }} comentários
    {% else %}
        Nenhum comentário
    {% endif %}
</h3>

{% for comentario in chamado.comentarios %}
    <img src="{{ asset(comentario.usuario.foto ? 'uploads/profile/' ~ comentario.usuario.foto : 'dist/img/no-photo.jpg') }}" class="img-circle" width="50" height="50"
         alt="Imagem do Usuário">
    <div class="row post-comment">
        <h4 class="col-sm-2">
            <strong>{{ comentario.usuario }} {% if comentario.usuario == chamado.tecnico %}(Técnico){% endif %}</strong> Comentário em
            <strong>{{ comentario.data|date('d/m/Y H:i:s') }}</strong>
        </h4>
        <div class="col-sm-9">
            <p>{{ comentario.mensagem }}</p>
        </div>
    </div>
{% endfor %}
