{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Problema
            <small>visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Problema</li>
            <li class="active">Visualizar</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="title">Problema</h4>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th>Id do Problema</th>
                                <td>{{ problema.idProblema }}</td>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                <td>{{ problema.nome }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('admin_problema_index') }}" class="btn btn-default btn-group" role="group">
                            <i class="fa fa-arrow-left"></i> <span class="hidden-xs">Voltar</span>
                        </a>
                        <a href="{{ path('admin_problema_edit', { 'id': problema.idProblema }) }}"
                           class="btn btn-success btn-group" role="group">
                            <i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">Editar</span>
                        </a> <a href="{{ path('admin_problema_delete', { 'id': problema.idProblema }) }}"
                                class="btn btn-danger btn-group" role="group" title="Deletar"
                                data-confirm="Tem certeza de que deseja remover este registro?">
                            <i class="fa fa-trash-o"></i> <span class="hidden-xs">Deletar</span>
                        </a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
