{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Chamado
            <small>visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Chamado</li>
            <li class="active">Visualizar</li>
        </ol>
    </section>

    <section class="content">

        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }}">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="title">Chamado #{{ chamado.idChamado }} </h4>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th>Problema</th>
                                <td>{{ chamado.problema }}</td>
                            </tr>
                            <tr>
                                <th>Descrição</th>
                                <td>{{ chamado.descricao|raw }}</td>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <td>{% if chamado.data %}{{ chamado.data|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {% if chamado.status is not null %}
                                        {{ chamado.status }}
                                    {% else %}
                                        Chamado em Aberto
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Prioridade</th>
                                <td>
                                    {% if chamado.prioridade == 1 %}
                                        Baixa
                                    {% elseif chamado.prioridade == 2 %}
                                        Média
                                    {% elseif chamado.prioridade == 3 %}
                                        Alta
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Usuário</th>
                                <td>
                                    {{ chamado.usuario }}
                                </td>
                            </tr>
                            <tr>
                                <th>Técnico Responsável</th>
                                <td>
                                    {{ chamado.tecnico|default }}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h1>Anexos:</h1>
                        <ul>
                            {% for anexo in chamado.anexos %}
                                <li><a href="{{ asset('uploads/' ~ anexo.caminho) }}" target="_blank">{{ anexo.caminho }}</a></li>
                            {% else %}
                                <li>Nenhum anexo enviado.</li>
                            {% endfor %}
                        </ul>

                        <div id="post-add-comment" class="">
                            {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
                            <fieldset>
                                <h1>Adicionar Comentários:</h1>
                                {{ form_widget(form) }}
                                <div class="form-group">
                                    <button class="btn btn-primary pull-right" type="submit">Comentar</button>
                                </div>
                            </fieldset>
                            {{ form_end(form) }}
                        </div>

                        <h3>
                            {% if chamado.comentarios|length > 0 %}
                                {{ chamado.comentarios|length }} comentários
                            {% else %}
                                Nenhum comentário
                            {% endif %}
                        </h3>

                        {% for comentario in chamado.comentarios %}
                            <div class="row post-comment">
                                <h4 class="col-sm-2">
                                    <strong>{{ comentario.usuario }} {% if comentario.usuario == chamado.tecnico %}(Técnico){% endif %}</strong> Comentário em
                                    <strong>{{ comentario.data|date('d/m/Y H:i:s') }}</strong>
                                </h4>
                                <div class="col-sm-9">
                                    <p>{{ comentario.mensagem }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('admin_chamado_index') }}" class="btn btn-default btn-group" role="group">
                            <i class="fa fa-arrow-left"></i> <span class="hidden-xs">Voltar</span>
                        </a>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
